$pink : #ffedf0, #ffd2d7, #f4a2a3, #ed7e7f, #f9615e, #fe5245, #f14b45, #de413e;

$gray: #fbfbfb, #e5e5e5, #d4d4d4, #b0b0b0, #8f8f8f, #686868, #545454, #363636;

$timeC : .5s; 
$timeB : .2s;
$timeA : .1s;

:root{
	--flc: #ffffff;
}
$flc: var(--flc);

.nav {
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 80px;
	bottom: 0;
	
	.menu {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr 2fr;
		transition: transform $timeC;
		
		.tab {
			position:relative;

			// border: 2px solid #c4c4c4;
			border-radius: 12px 12px 0 0;
			border-bottom-style: none;

			text-align: center;
			font-size: 0.9rem;
			font-weight:400;

			padding:5px;
			
			background: white;

			box-shadow: 0px -7px 8px -4px #bfbfbf, inset 0 0 20px 0px nth($gray,1);

			transform: translateY(16px);
			transition: transform $timeA;

			.label {
				position:relative;
				top: -8px;
				color: nth($gray,7);
			}
		}
		.tab.active {
			transform: translateY(9px);
			transition: transform $timeA;
		}

		.music{
			grid-column: 1 / span 1;
		}
		.playlist{
			grid-column: 2 / span 1;
		}
		.search{
			grid-column: 3 / span 1;
		}
		.setting{
			grid-column: 4 / span 1;
		}
	}
	.menu.inactive {
		transform: translateY(80px);
		transition: transform $timeC;
	}
	
	.coverImg {
		position: fixed;
		z-index: -1;
		width: 120px;
		height: 120px;
		margin-left:-60px;
		border-radius: 50%;
		background: nth($gray,1);
		left: 50%;
		bottom: 15px;
		transition: transform $timeC, left $timeC, bottom $timeC;
		overflow: hidden;

		border: 5px solid nth($gray,1);
		box-shadow: 0 0 5px -1px nth($gray,5);

		display:flex;
		align-items: center;
		justify-content: center;
		.dot {
			position:absolute;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: nth($gray,1);
			box-shadow: inset 0 0 5px -1px nth($gray,5), 0 0 0px 3px nth($gray,1);
			display:flex;
			align-items: center;
			justify-content: center;
		}
		img{
			max-width: 100%;
			max-height: auto;
		}
	}
	.coverImg.active {
			position: fixed;
			left: calc(8vw);
			bottom: -3.2%;
			transform: scale(0.4) rotate(-360deg);
			transition: transform $timeC, left $timeC, bottom $timeC;
		}
	
	.playerPage.active {
		opacity: 1;
		max-height: 100vh;
		transform: translateY(0px);
		transition: opacity $timeC, transform $timeC, max-height 0s;
	}	
	
	.playerPage {
		position: fixed;
		z-index: -2;
		width:100vw;
		height:100%;
		bottom:0;
		left:0;
		background: #202020;
		background-size: cover;
		
		opacity: 0;
		max-height: 0px;
		transform: translateY(200px);
		transition: opacity $timeC, transform $timeC, max-height 0s $timeC;	
		
		.lyricArea {
			height:100%;
			overflow: auto;
			color: white;
			.text{
				font-size: 0.9rem;
				text-align: center;
				line-height: 200%;
			}
			
		}
		.playerArea {
			position: fixed;
			z-index: 1;
			left: 0;
			bottom: 0;
			height:68px;
			width: 100%;
			backdrop-filter: blur(8px); 
			//box-shadow: 0 0 10px -1px nth($gray,8);
			padding: 0px 7px;
			
			display: grid;
			grid-template-columns: 60px 3fr 1.5fr;
			grid-template-rows: 1fr 0.75fr;
			column-gap: 1px;

			.coverImgArea {
				grid-column: 1 / span 1;
				grid-row: 1 / span 2;

				display: flex;
				align-items: center;
				justify-content: center;
			}
			.titleArea {
				grid-column: 2 / span 1;
				grid-row: 1 / span 1;

				display: flex;
				align-items: flex-end;
				//justify-content: center;
				
				min-width: 0;
				span{
					background:-webkit-linear-gradient(45deg, nth($gray,1), $flc);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					white-space: nowrap;
					font-weight: 700;
					font-size: 1.3rem;
					overflow: hidden;
					text-overflow: ellipsis;
					//color: nth($gray,1);
				}
			}
			.artistArea {
				grid-column: 2 / span 1;
				grid-row: 2 / span 1;

				white-space: nowrap;
				display: flex;
				align-items: flex-start;
				//justify-content: center;
				
				min-width: 0;
				span{
					font-weight: 500;
					font-size: 0.8rem;
					overflow: hidden;
					text-overflow: ellipsis;
					color: nth($gray,2);
				}
			}
			.buttonsArea {//border: solid red;
				grid-column: 3 / span 1;
				grid-row: 1 / span 2;

				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			
		}
	}
}


.tag {
	display: flex;
	align-items: center;
	gap:3px;

	$tagSize: 22px;
	border-radius: $tagSize;
	height: $tagSize;
	
	box-shadow: inset 0 0 5px -2px nth($gray,4);
	
	padding: 0 7px 0 0 ;
	
	.image {
		width: $tagSize;
		height: $tagSize;
		border-radius: 50%;
		overflow: hidden;
		img{
			max-width: 100%;
			max-height: auto;
		}
		
	}
	
	.name {
		font-size: 0.8rem;
		letter-spacing: -1px;
		font-weight: 500;
		color: nth($gray,8);
		vertical-align: middle;
		white-space:nowrap;
	}
}

.content {
	width: 100%;
	height: 100vh;
	
	.page.active {
		display: block;
		animation: fadeIn $timeC;
	}
	.page {
		display: none;
		width:100%;
		height:100%;
		background: nth($gray,1);
		padding: 20px 20px 150px 20px;
		overflow: auto;
	
		.scrollLock {
			overflow: hidden;
		}
		.songs{
			.songSearchArea {
				width: 100%;
				height: 40px;
				margin: 0 0 20px 0;

				.songSearchBar {
					position: relative;
					height: 100%;
					width: 100%;
					border-radius: 20px;

					padding: 5px 20px;

					background-color: nth($gray,4);

					.songSearchInput {

						z-index:1;
						font-size: 0.8rem;
						align-items: center;
						justify-content: center;
						color: white;
						border: none;
						outline: none;
						background: none;
						width: 100%;
						height: 100%;
						margin: auto 0;
					}
				}		
			}

			.songCardList {
				padding: 0 3px 0 3px;
				width:100%;

				.clicked {
					animation: scale $timeC;
				}
				.songCard.loaded{
					opacity:1;
					transform: scale(1);
					transition: opacity 0.7s, transform 0.7s;
				}
				.songCard.loading{
					opacity:0;
					transform: scale(0.5);
				}
				.songCard.swiped {
					transform: translateX(-70px);
					transition: transform $timeC;
				}

				.songCard.pid1{
					background: #fff7f7;
				}
				.songCard.pid2{
					background: #e6efff;
				}
				.songCard.pid3{
					background: #ffffeb;
				}
				.songCard.pid4{
					background: #f7fffa;
				}
				.songCard.pid5{
					background: #f7ffff;
				}
				.songCard {
					$songCardHeight: 80px;

					width:100%;
					// height: $songCardHeight;
					border-radius: 12px;

					padding: 7px 11px;
					margin: 13px 0 13px 0;

					box-shadow: 0px 0px 10px -3px nth($gray,4);

					display: grid;
					grid-template-columns: 1fr 3.5fr;
					grid-template-rows: calc(#{$songCardHeight}*0.5) auto;
					column-gap: 10px;

					.coverImgArea {
						grid-column: 1 / span 1;
						grid-row: 1 / span 2;

						display: flex;
						align-items: center;
						justify-content: center;
						.coverImg {
							height:calc(#{$songCardHeight}*0.8);
							width: calc(#{$songCardHeight}*0.8);
							border-radius: 50%;
							overflow: hidden;
							box-shadow: inset 0 0 5px -1px nth($gray,5);
							img{
								position: relative;
								z-index: -1;
								max-width: 100%;
								height: auto;
							}
						}
					}
					.title {
						display: flex;
						align-items: center;

						grid-column: 2 / span 1;
						grid-row: 1 / span 1;

						font-size: 1.5rem;
						font-weight: 700;
						color: nth($gray,7);

						min-width: 0;
						span{
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						}
					}
					.tagsArea {
						display: flex;
						align-items: center;
						flex-wrap : wrap;
						gap: 4px;

						grid-column: 2 / span 1;
						grid-row: 2 / span 1;

						-ms-overflow-style: none; /* IE and Edge */
						scrollbar-width: none; /* Firefox */
					}
					.tagsArea::-webkit-scrollbar {
						display: none; /* Chrome, Safari, Opera*/
					}
				}
			}
		}
		
	}
}


.modalBg {
	z-index: -3;
	opacity: 0%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transition: opacity $timeC, max-height 0s $timeC;

	max-height: 0px;
}
.lyricModal {
	z-index: -2;
	opacity: 0%;
	position: fixed;
	top: 3%;
	left: 5vw;
	width: 90%;
	height: 94%;
	background: #ffffff;
	transform: translateY(20%);
	transition: opacity $timeC, transform $timeC, max-height 0s $timeC;

	max-height: 0px;
}
.active {
	.modalBg {
		display: relative;
		opacity:60%;
		transition: opacity $timeC, max-height 0s;

		max-height: 999px;
	}
	.lyricModal {
		opacity:100%;
		transform: translateY(0%);
		transition: opacity $timeC, transform $timeC, max-height 0s;

		max-height: 999px;
	}
}	



@keyframes fadeIn {
  0% {
    opacity: 0;
	transform:translateY(1%);
  }
  100% {
    opacity: 1;
	  transform:translateY(0%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
	30%{
		transform: scale(0.9);
	}
  100% {
    transform: scale(1);
  }
}
