$pink : #ffedf0, #ffd2d7, #f4a2a3, #ed7e7f, #f9615e, #fe5245, #f14b45, #de413e;
$gray: #fbfbfb, #e5e5e5, #d4d4d4, #b0b0b0, #8f8f8f, #686868, #545454, #363636 !global;

// .dark {
// 	$gray: #000000, #000000, #000000,  #000000, #000000, #000000,#000000, #000000, #000000 !global;
// }

// .light {
// 	$text: #545454 !global;
// 	$pageBg: #fbfbfb !global;
// 	$tabBg: #ffffff !global;
// 	$lightShadow: #ffffff !global;
// 	$shadow: #8f8f8f !global;
// 	$darkShadow: #000000 !global;
// }



$timeC : .5s; 
$timeB : .2s;
$timeA : .1s;

:root{
	--flc: #ffffff;
	--idc: #ffffff;
	
	--text: #545454 ;
	--pageBg: #fbfbfb;
	--tabBg: #ffffff;
	--lightShadow: #ffffff;
	--shadow: #8f8f8f;
	--darkShadow: #000000;
	
	--im:0;
	--cg:0;
	--ml:0;
	--sm:0;
	--sc:0;
}
$flc: var(--flc);
$idc: var(--idc);

$text: var(--text);
$pageBg: var(--pageBg);
$tabBg:  var(--tabBg);
$lightShadow: var(--lightShadow);
$shadow: var(--shadow);
$darkShadow: var(--darkShadow);

$im: var(--im);
$cg: var(--cg);
$ml: var(--ml);
$sm: var(--sm);
$sc: var(--sc);

body {
	background: $pageBg;
}
.alignCenter{
	display:flex;
	align-items: center;
	justify-content: center;
}

.popup.inactive{
	transform: translateY(-100px);
	transition: transform $timeC;
}
.popup {
	z-index:2;
	position: relative;
	transition: transform $timeC;
	
	.userImgArea{
		position: fixed;
	
		top:15px;
		right:15px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		
		background: nth($gray, 1);
		border: solid nth($gray, 3) 1px;
		box-shadow: 0 5px 5px 0 $shadow;
		
		.iconArea {
			height:100%;
		}
	}
	
	.detailsArea.inactive {
		height:0;
		transition: height $timeB;
	}
	.detailsArea{
		transition: height $timeB;
		position: fixed;
		top:70px;
		right:15px;
		width: 220px;
		height: 230px;
		border-radius: 13px;
		background: white;
		box-shadow: inset 0 0 0 2px $shadow;
		padding: 0 10px;
		
		overflow:hidden;
		
		display: grid;
		grid-template-columns:1fr 5fr;
		grid-template-rows: 2fr 1fr 1fr;
		
		.loginArea {
			grid-column: 1 / span 2;
		}
	}
	
	.bg.inactive {
		
		display: relative;
		opacity: 0%;
		transition: opacity $timeB, max-height 0s $timeB;
		max-height: 0px;
		
	}
	.bg {
		z-index: -1;
		
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000000;
		
		position: fixed;
		opacity:70%;
		transition: opacity $timeC, max-height 0s;

		max-height: 100%;
	}
}

.nav {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: 0;
	
	.menu {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr 2fr;
		transition: transform $timeC;
		height:100%;
		.tab {
			position:relative;

			// border: 2px solid #c4c4c4;
			border-radius: 12px 12px 0 0;
			border-bottom-style: none;
			height:100%;
			text-align: center;
			font-size: 0.9rem;
			font-weight:400;

			padding:5px;
			
			background: $tabBg;

			box-shadow: 0px -7px 8px -4px $shadow, inset 0 0 20px 0px $lightShadow;

			transform: translateY(36px);
			transition: transform $timeA;

			.label {
				position:relative;
				top: -8px;
				color: $text;
			}
		}
		.tab.active {
			transform: translateY(28px);
			transition: transform $timeA;
		}

		.music{
			grid-column: 1 / span 1;
		}
		.playlist{
			grid-column: 2 / span 1;
		}
		.search{
			grid-column: 3 / span 1;
		}
		.setting{
			grid-column: 4 / span 1;
		}
	}
	.menu.inactive {
		transform: translateY(80px);
		transition: transform $timeC;
	}
	
	.coverImg {
		&.init{
			transform:translateY(150px);
		}
		position: fixed;
		z-index: -1;
		width: 120px;
		height: 120px;
		margin-left:-60px;
		border-radius: 50%;
		background: #e5e5e5;
		left: 50%;
		bottom: 15px;
		transition: transform $timeC, left $timeC, bottom $timeC;
		overflow: hidden;

		border: 5px solid #ffffff;
		box-shadow: 0 0 5px -1px $shadow;

		display:flex;
		align-items: center;
		justify-content: center;
		.dot {
			position:absolute;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #e5e5e5;
			box-shadow: inset 0 0 5px -1px $shadow, 0 0 0px 3px $lightShadow;
			display:flex;
			align-items: center;
			justify-content: center;
		}
		img{
			max-width: 100%;
			max-height: auto;
		}
	}
	.coverImg.active {
			position: fixed;
			left: calc(8vw);
			bottom: -3.2%;
			transform: scale(0.4) rotate(-360deg);
			transition: transform $timeC, left $timeC, bottom $timeC;
		}
	
	.playerPage.active {
		opacity: 1;
		max-height: 100vh;
		transform: translateY(0px);
		transition: opacity $timeC, transform $timeC, max-height 0s;
	}	
	
	.playerPage {
		position: fixed;
		z-index: -2;
		width:100%;
		height:100%;
		bottom:0;
		left:0;
		background: #202020;
		background-size: cover;
		max-height: 0;
		opacity: 0;
		transform: translateY(200px);
		transition: opacity $timeC, transform $timeC, max-height 0s $timeC;	
		
		display: flex;
		flex-direction: column;
		.infoArea {
			height:85px;
			padding: 0 10px;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			box-shadow: 0 0 20px 0px black;
			border-radius: 0 0 20px 20px;
			
			.idolImgArea.active{
				box-shadow: 0 0 10px 3px $idc;
				img{
					filter: brightness(100%);
				}	
			}
			.idolImgArea {
				box-shadow: inset 0 0 10px 3px black;
				flex:0 0 65px;
				height:65px;
				border-radius: 50%;
				overflow:hidden;
				img{
					filter: brightness(50%);
					position: relative;
					z-index: -1;
					max-width: 100%;
					height: auto;
				}
			}
		}
		
		.callGuideArea {
			flex:1;
			height:50%;
			position: relative;
			.closeIconArea {
				position:absolute;
				top:15px;
				right:15px;
			}
			.pageChangeIconArea {
				position:absolute;
				bottom:75px;
				right:15px;
				
			}
			
			.lyricArea.inactive {
				transform: translateX(-100vw);
				transition: transform $timeB;
			}
			.lyricArea {
				position:absolute;
				transition: transform $timeB;
				height:100%;
				overflow: auto;		
				width:100%;
				overflow: auto;		
				color: white;
				padding: 50px 20px 120px 20px;
				.text{		
					font-size: 0.9rem;
					text-align: center;
					line-height: 200%;
				}				
			}

			.playlistArea.inactive {
				transform: translateX(100vw);
				transition: transform $timeB;
			}
			.playlistArea {
				position:absolute;
				transition: transform $timeB;
				height:100%;
				overflow: auto;		
				width:100%;
				overflow: auto;		
				color: white;
				padding: 50px 20px 120px 20px;
					font-size: 0.9rem;
					text-align: center;
					line-height: 200%;
								
			}
		}
		.playerArea {
			position: fixed;
			z-index: 1;
			left: 0;
			bottom: 0;
			height:68px;
			width: 100%;
			backdrop-filter: blur(8px); 
			box-shadow: 0 0 10px -1px black;
			padding: 0px 12px;

			display: grid;
			grid-template-columns: 60px 3fr 1.5fr;
			grid-template-rows: 1fr 0.82fr;
			column-gap: 1px;

			.progressBarArea {
				position: absolute;
				top:0;
				width:100%;
				height:2px;
				
				.progressBar{
					background:$flc;
					height:100%;
				}
			}
			.coverImgArea {
				grid-column: 1 / span 1;
				grid-row: 1 / span 2;

				display: flex;
				align-items: center;
				justify-content: center;
			}
			.titleArea {
				grid-column: 2 / span 1;
				grid-row: 1 / span 1;

				display: flex;
				align-items: flex-end;
				//justify-content: center;

				min-width: 0;
				span{
					background:-webkit-linear-gradient(45deg, nth($gray,2), $flc);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					white-space: nowrap;
					font-weight: 600;
					font-size: 1.1rem;
					overflow: hidden;
					text-overflow: ellipsis;
					//color: nth($gray,1);
				}
			}
			.artistArea {
				grid-column: 2 / span 1;
				grid-row: 2 / span 1;

				white-space: nowrap;
				display: flex;
				align-items: flex-start;
				//justify-content: center;

				min-width: 0;
				span{
					font-weight: 400;
					font-size: 0.75rem;
					overflow: hidden;
					text-overflow: ellipsis;
					color: nth($gray,2);
				}
			}
			.buttonsArea {//border: solid red;
				grid-column: 3 / span 1;
				grid-row: 1 / span 2;

				display: flex;
				align-items: center;
				justify-content: space-between;
			}

		}
	
	}
}


.tag {
	display: flex;
	align-items: center;
	gap:3px;

	$tagSize: 22px;
	border-radius: $tagSize;
	height: $tagSize;
	
	box-shadow: inset 0 0 5px -2px nth($gray,4);
	
	padding: 0 7px 0 0 ;
	
	.image {
		width: $tagSize;
		height: $tagSize;
		border-radius: 50%;
		overflow: hidden;
		img{
			max-width: 100%;
			max-height: auto;
		}
		
	}
	
	.name {
		font-size: 0.8rem;
		letter-spacing: -1px;
		font-weight: 500;
		color: nth($gray,8);
		vertical-align: middle;
		white-space:nowrap;
	}
}

.content {
	width: 100%;
	height: 100vh;
	
	.page.active {
		display: block;
		animation: fadeIn $timeC;
	}
	.page {
		display: none;
		width:100%;
		height:100%;
		background: $pageBg;

		padding: 20px 20px 150px 20px;
		overflow: auto;
	
		.scrollLock {
			overflow: hidden;
		}
		.songs{
			.songSearchArea {
				width: 100%;
				height: 40px;
				margin: 0 0 20px 0;

				.songSearchBar {
					position: relative;
					height: 100%;
					width: 100%;
					border-radius: 20px;

					padding: 5px 20px;

					background-color: nth($gray,4);

					.songSearchInput {
						z-index:1;
						font-size: 0.8rem;
						align-items: center;
						justify-content: center;
						color: white;
						border: none;
						outline: none;
						background: none;
						width: 100%;
						height: 100%;
						margin: auto 0;
					}
				}		
			}

			.songCardList {
				$songCardHeight: 80px;

				padding: 0 3px 0 3px;
				width:100%;
				position: relative;
				
				.behind.loading{
					opacity:0;
					position: absolute;
					
				}
				.behind.loaded{
					opacity:100%;
					transition: opacity 0s 0.7s;
					position: absolute;
					right:20px;
					height:$songCardHeight;
				}
				
				.clicked {
					animation: scale $timeC;
				}
				.songCard.loaded{
					opacity:1;
					transform: scale(1);
					transition: opacity $timeC, transform $timeC;
				}
				.songCard.loading{
					opacity:0;
					transform: scale(0.5);
				}
				.songCard.swiped {
					transform: translateX(-70px);
					transition: transform $timeC;
				}

				.songCard.pid1{
					background: $im;
				}
				.songCard.pid2{
					background: $cg;
				}
				.songCard.pid3{
					background: $ml;
				}
				.songCard.pid4{
					background: $sm;
				}
				.songCard.pid5{
					background: $sc;
				}
				.songCard {
					width:100%;
					// height: $songCardHeight;
					border-radius: 12px;

					padding: 7px 11px;
					margin: 13px 0 13px 0;

					box-shadow: 0px 0px 10px -3px $shadow;

					display: grid;
					grid-template-columns: 1fr 3.5fr;
					grid-template-rows: calc(#{$songCardHeight}*0.5) auto;
					column-gap: 10px;

					.coverImgArea {
						grid-column: 1 / span 1;
						grid-row: 1 / span 2;

						display: flex;
						align-items: center;
						justify-content: center;
						.coverImg {
							height:calc(#{$songCardHeight}*0.8);
							width: calc(#{$songCardHeight}*0.8);
							border-radius: 50%;
							overflow: hidden;
							box-shadow: inset 0 0 5px -1px $shadow;
							img{
								position: relative;
								z-index: -1;
								max-width: 100%;
								height: auto;
							}
						}
					}
					.title {
						display: flex;
						align-items: center;

						grid-column: 2 / span 1;
						grid-row: 1 / span 1;

						font-size: 1.5rem;
						font-weight: 900;
						color: $text;

						min-width: 0;
						span{
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
					.tagsArea {
						display: flex;
						align-items: center;
						flex-wrap : wrap;
						gap: 4px;

						grid-column: 2 / span 1;
						grid-row: 2 / span 1;

						-ms-overflow-style: none; /* IE and Edge */
						scrollbar-width: none; /* Firefox */
					}
					.tagsArea::-webkit-scrollbar {
						display: none; /* Chrome, Safari, Opera*/
					}
				}
			}
		}
		
	}
}





@keyframes fadeIn {
  0% {
    opacity: 0;
	transform:translateY(1%);
  }
  100% {
    opacity: 1;
	  transform:translateY(0%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
	30%{
		transform: scale(0.9);
	}
  100% {
    transform: scale(1);
  }
}
